.container
  %h1 Create Sync
  .row
    .col
      %ul#myTab.nav.nav-tabs{:role => "tablist"}
        %li.nav-item
          %a#sync-customer-tab.nav-link.active{"aria-controls" => "customer", "aria-selected" => "true", "data-toggle" => "tab", :href => "#customer", :role => "tab"} Customer
        %li.nav-item
          %a#sync-payment-tab.nav-link{"aria-controls" => "payment", "aria-selected" => "false", "data-toggle" => "tab", :href => "#payment", :role => "tab"} Payment
        %li.nav-item
          %a#sync-invoice-tab.nav-link{"aria-controls" => "invoice", "aria-selected" => "false", "data-toggle" => "tab", :href => "#invoice", :role => "tab"} Invoice
        %li.nav-item
          %a#sync-vendor-tab.nav-link{"aria-controls" => "vendor", "aria-selected" => "false", "data-toggle" => "tab", :href => "#vendor", :role => "tab"} Vendor

      #myTabContent.tab-content
        #home.tab-pane.fade.show.active{"aria-labelledby" => "sync-customer-tab", :role => "tabpanel"}
          .my-3
            %h4 Customer
            = form_tag dev_syncs_path, method: :post do
              .form-group
                = text_area_tag :request_body, JSON.pretty_generate(Util::InputHelpers::Customer.new.sync_request_body(account: current_account)), class: 'w-100 form-control', rows: 10
              .form-group
                = submit_tag 'Send', class: 'btn btn-primary form-control'
        #payment.tab-pane.fade{"aria-labelledby" => "sync-payment-tab", :role => "tabpanel"}
          .my-3
            %h4 Payment
            = form_tag dev_syncs_path, method: :post do
              .form-group
                = text_area_tag :request_body, JSON.pretty_generate(Util::InputHelpers::Payment.new.sync_request_body(account: current_account)), class: 'w-100 form-control', rows: 10
              .form-group
                = submit_tag 'Send', class: 'btn btn-primary form-control'
        #invoice.tab-pane.fade{"aria-labelledby" => "sync-invoice-tab", :role => "tabpanel"}
          .my-3
            %h4 Coming Soon
        #vendor.tab-pane.fade{"aria-labelledby" => "sync-vendor-tab", :role => "tabpanel"}
          .my-3
            %h4 Vendor
            = form_tag dev_syncs_path, method: :post do
              .form-group
                = text_area_tag :request_body, JSON.pretty_generate(Util::InputHelpers::Vendor.new.sync_request_body(account: current_account)), class: 'w-100 form-control', rows: 10
              .form-group
                = submit_tag 'Send', class: 'btn btn-primary form-control'
